:root {
  --border-primary: rgb(50, 50, 50);
  --border-primary: rgb(85, 70, 170);
  --text-primary: rgb(50, 50, 50);
  --text-accent: var(--white-default);
  --background-color-accent: rgb(97, 108, 64);
  --background-color-accent-hover-focus: rgb(77, 86, 51);
  --background-color-accent-active: rgb(67, 75, 44);
  --white-default: rgb(255, 255, 255);
  --white-hover-focus: rgb(235, 235, 235);
  --white-active: rgb(230, 230, 230);
  --error: #a80014;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  block-size: 100vh;
  text-align: center;
}

.App-header {
  color: var(--text-accent);
  background-color: #282c34;
  font-size: 3rem;
  padding-block: 2rem;
}

main {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
