:root {
  --background-dark: var(--bighat-dark-purple);
  --background-dark-active: var(--bighat-medium-purple);
  --background-light: var(--white);
  --background-error: var(--bighat-pink);
  --border-primary: var(--bighat-dark-purple);
  --border-error: var(--error);
  --box-shadow-color: var(--bighat-medium-purple);
  --text-color-dark: var(--black);
  --text-color-light: var(--white);
  --text-color-error: var(--error);
  --black: rgb(50, 50, 50);
  --white: rgb(250, 250, 250);
  --bighat-dark-purple: rgb(42, 34, 81);
  --bighat-medium-purple: rgb(125, 125, 247);
  --bighat-grey: rgb(246, 246, 246);
  --bighat-peach: rgb(250, 225, 217);
  --error: #a80014;
}

html {
  background: var(--background-dark);
  color: var(--text-color-dark);
  font-size: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  block-size: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;

  .main-layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    inline-size: 90vw;
    justify-content: space-between;
    margin: 0 auto;
    padding-block: 20px;
  }
}

.App-header {
  color: var(--text-color-light);
  background-color: var(--bighat-dark-purple);
  font-size: 3rem;
  padding-block: 2rem;
}

main {
  background: linear-gradient(
    to bottom right,
    var(--bighat-peach),
    var(--bighat-medium-purple)
  );
  color: var(--text-primary);
  flex-grow: 1;
}

@media (min-width: 800px) {
  .App .main-layout {
    flex-direction: row;
    inline-size: 80vw;
    padding-block: 50px;
  }
}

@media (min-width: 1000px) {
  .App .main-layout {
    inline-size: 70vw;
  }
}

@media (min-width: 1400px) {
  .App .main-layout {
    inline-size: 60vw;
  }
}
