.SubmitDAGForm {
  display: flex;
  flex-direction: column;
  inline-size: 100%;

  h1 {
    margin: 0;
    padding-block-end: 50px;
  }

  button {
    background: var(--background-dark);
    block-size: 60px;
    border-width: 0;
    color: var(--text-color-light);
    flex-shrink: 0;
    font-size: 20px;
    inline-size: 100%;
    margin-block: 0;

    &:hover {
      cursor: pointer;
    }

    &:hover,
    &:focus-visible,
    &:active {
      background: var(--background-dark-active);
      transition: background-color 0.2s;
    }
  }

  .divider {
    padding-block: 1rem;
  }

  textarea {
    background-color: var(--background-light);
    border-radius: 10px;
  }

  .submit-button {
    margin-block-start: 2rem;
  }
}

@media (min-width: 1000px) {
  .SubmitDAGForm {
    max-inline-size: 500px;
    inline-size: 35vw;
  }
}
