.WorkflowItem {
  background-color: var(--background-light);
  border: 1px solid var(--border-primary);
  border-radius: 10px;
  box-shadow: 0px 0px 2px 1px var(--box-shadow-color);
  inline-size: 200px;
  padding-block: 1.2rem;
  padding-inline: 2rem;
  position: relative;

  .value {
    font-size: 2rem;
    padding-block-end: 0.8rem;
  }

  .arrow {
    border: solid var(--border-primary);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  &:not(:first-child) {
    margin-block-start: 3rem;
  }

  &:not(:first-child)::before {
    content: "";
    border: solid var(--border-primary);
    border-width: 0 3px 3px 0;
    display: inline-block;
    inset-block-start: -2rem;
    inset-inline-start: 98px;
    padding: 3px;
    position: absolute;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
